# General ignores
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
node_modules/
target/

# Build files
build/
dist/
out/

# IDE configuration files
.idea/
.vscode/
*.iml

# OS-specific files
*.swp
*.bak
*.tmp
*.~*

# Environment files
.env
.env.local
application.properties
.history/
